name: Terraform Dev CI

on:
  pull_request:
  push:
    branches:
      - main

env:
  AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  AWS_REGION: ${{ secrets.AWS_REGION }}

jobs:
  terraform-dev:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Terraform Init (dev)
        run: |
          cd envs/dev
          terraform init

      - name: Terraform Validate (dev)
        run: |
          cd envs/dev
          terraform validate

      - name: Terraform Plan (dev)
        run: |
          cd envs/dev
          terraform plan
